<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>登录</title>
    <link rel="stylesheet" href="./template/static/css/stylesheet.css">
    <script src="./template/static/js/jquery.min.js"></script>
</head>

<body>
    <div id="particles-js"></div>
    <img src="./template/static/img/owl-login.png" style="position: relative;left: 85ex;top: 165px;">
    <div class="content">
        <div class="inner" style="background-color: aquamarine;position: relative;left: 80ex;top: 150px;display: block; color: black;height: 180px;width: 40ex;opacity: 0.5;border-style:inset ;">
            <p style="text-align:center;font: 2em FZShuTi;position: relative;top: -30px;">欢迎管理员登录</p>
            <input class="username" type="text" placeholder="请输入用户名" style="position: relative;left: 60px;top: -50px;">
            <br>
            <br>
            <input class="password" type="password" placeholder="请输入密码" style="position: relative;left: 60px;top: -45px;">
            <br>
            <br>
            
            <a class='login' href="javascript:void(0);" style="position: relative;left: 60px;top: -50px; width: 140px;height: 30px;display: block; text-decoration-line: none;color:black;border-style: inset;background-color:chocolate;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp登录</a>
            <br>
<!--            hint:flag is not in the database-->

        </div>
    </div>

    <script src="./template/static/js/particles.min.js"></script>
    <script src="./template/static/js/app.js"></script>
</body>
